<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./bootstrap-5.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../fontawesome-5.15.3/css/all.css">
  <link rel="stylesheet" href="./css/estilo.css">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  <title>Gerência de Projetos</title>
</head>

<body>
  <header>
    <div class="div-header-text">
      <h2>Gerência de Projetos</h2>
    </div>   
  </header>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">NewProjects</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/projeto/list">Projetos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/funcionario/list">Funcionários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container container-login">
    <h2 class="h2-registrar">
      Login
    </h2>
   <form th:action="@{/logar}" method="post"
   th:object="${funcionario}">
      <div class="form-floating mb-3">
        <input type="text" th:field="*{nome}" class="form-control" id="campoEmail" placeholder="Email">
        <label for="campoEmail">Nome</label>
      </div>

      <div class="form-floating mb-3">
        <input type="password" th:field="*{password}" class="form-control" id="campoPassword" placeholder="Senha">
        <label for="floatingPassword">Senha</label>
      </div>

      <!-- button -->
      <div class="div-button-andText">
        <div class="div-button">
          <button type="submit" class="btn btn-success btn-submit-margin">Logar</button>
        </div>
        <div class="div-text">
          <h6 class="div-loginNotCadastro">Ainda não possui cadastro? <a href="/funcionario/add">cadastrar</a></h6>
        </div>       
        </h6>
      </div>

   </form>
  </div>
  
  <script src="./js/popper.min.js"></script>
  <script src="../js/jquery-3.6.0.min.js"></script>
  <script src="./bootstrap-5.0.0/js/bootstrap.min.js"></script>
  <script src="../js/script.js"></script>
</body>

</html>